page-home {
    
}

ion-content {
    background: radial-gradient(ellipse at center, #dfdfdf 0%,#b8b8b8 36%,#8b8b8b 100%);
    background: url('../assets/imgs/sherlock_logo.png') no-repeat center fixed;
    background-size: contain;
}

#menu {
    margin-top: -39px;
    position: relative;
    top: 50%;
}

#menu button {
    height: 50px;
}

