<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Details
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="_page" >

    <ion-card *ngSwitchCase="'item'">
      <img src="{{_element.img}}" style="width:100px; height: 100px; margin: 0 auto;"/>
      <ion-card-content>
        <ion-card-title text-capitalize>
          {{_element.name}}
        </ion-card-title>
        <p>
          You must send this item for analyse to get more details.
        </p>
      </ion-card-content>
      
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col col-8>
            <button ion-button icon-left block (click)="analyseItem()">
              <ion-icon name="search"></ion-icon>
              Analyse
            </button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card *ngSwitchCase="'ready'">
      <img src="{{_element.img}}" style="width:100px; height: 100px; margin: 0 auto;"/>
      <ion-card-content>
        <ion-card-title text-capitalize>
          {{_element.name}}
        </ion-card-title>
        <p>
          {{_element.description}}
        </p>
      </ion-card-content>

      <ion-grid *ngIf="_element.id === 100" >
        <ion-row>
          <ion-col></ion-col>
          <ion-col col-8>
            <button ion-button icon-left block (click)="useItem()">
              <ion-icon name="document"></ion-icon>
              Use Item
            </button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card *ngSwitchCase="'location'">
      <img src="{{_element.img}}"/>
      <ion-card-content>
        <ion-card-title text-capitalize>
          {{_element.name}}
        </ion-card-title>
        <p>
          {{_element.description}}
        </p>
      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col col-8>
            <button ion-button icon-left block (click)="setLocation()">
              <ion-icon name="pin"></ion-icon>
              Set Location
            </button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  
    <ion-card *ngSwitchCase="'contact'">
      <img src="{{_element.img}}"/>
      <ion-card-content>
        <ion-card-title text-capitalize>
          {{_element.name}}
        </ion-card-title>
        <p>
          {{_element.description}}
        </p>
      </ion-card-content>
      <ion-list>
        <ion-list-header *ngIf="_element.history.length > 0" >
          Chat History
        </ion-list-header>
        <p *ngFor="let chat of _element.history" >{{chat}}</p>
      </ion-list>
    </ion-card>

  </div>
</ion-content>
